@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@100;200/300;400;500;600;700;800;900&display=swap");

:root {
  //fonts
  --fs-8: 0.8rem;
  --fs-12: 1.2rem;
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-24: 2.4rem;
  --fs-32: 3.2rem;

  //font weight
  --fw-thin: 100;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-ex-bold: 900;

  // border radius
  --brd-radius: 12px;
  --brd-radius-sm: 8px;

  //line height

  --line-h-15: 1.5rem;
  --line-h-20: 2rem;
  --line-h-28: 2.8rem;
  --line-h-37: 3.7rem;

  //font style
  --f-style-upper: uppercase;
  --f-style-capt: capitalize;

  // box shadow
  --bx-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --bx-shadow-btn: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --bx-shadow-light: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.light-theme {
  //colors
  --col-white: #fff;
  --col-black: #000;
  --col-text: #464a61;
  --col-bg: #f3f4f6;
  --col-gray: #2c2c2c;
  --col-success: #3d9c52;
  --col-error: #cc2f2f;
  --col-tabel: #fff;
}

// dark theme
.dark-theme {
  //colors
  --col-white: #121212;
  --col-black: #fff;
  --col-text: #fff;
  --col-bg: #292929;
  --col-gray: #dad8d8;
  --col-success: #3d9c52;
  --col-error: #cc2f2f;
  --col-tabel: #292929;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: normal;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

input:focus {
  outline: none;
}

a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--col-text) !important;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

html,
body {
  font-family: "Inter", sans-serif;
  height: 100%;
  font-weight: normal;
  margin: 0;
  transition: all 0.1s ease-in-out !important;
}

#app {
  min-height: 100vh;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  background-color: var(--col-bg);
}

.cont-custom {
  max-width: 120rem;
  margin: 3rem auto;
  padding: 2.7rem 3rem;
}

// main layout body

.main-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;

  .nav-bar {
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--col-white);
    border-bottom: 1px solid #ccc;

    .bell-btn {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%;
      background-color: var(--col-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      .count-tip {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        color: var(--col-white);
        background-color: var(--col-success);
        font-size: 1.2rem !important;
        top: 0.5rem;
        right: -2rem;
        font-size: var(--fs-8);
        font-weight: var(--fw-bold);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .nav-bar-body {
      display: flex;
      justify-content: flex-end;
      gap: 3rem;
      align-items: center;
    }
  }

  .layout-body {
    flex: 1;
    width: 100%;
    padding: 0;

    // navbar
    .side-bar {
      min-width: 70px !important;
      height: 100%;
      padding: 0;
      background-color: var(--col-white);
      border: 1px solid rgb(207, 207, 207);
      .nav-btn {
        font-size: var(--fs-16);
        font-weight: var(--fw-bold);
        line-height: var(--line-h-20);
        color: var(--col-text);
        padding: 1rem 0;
      }
      .nav-item-btn {
        font-size: var(--fs-16);
        font-weight: var(--fw-bold);
        line-height: var(--line-h-20);
        color: var(--col-text);
        &:hover {
          color: var(--col-black) !important;
        }
      }
      .nav-item-btn-sub {
        font-size: var(--fs-14);
        font-weight: var(--fw-bold);
        line-height: var(--line-h-20);
        color: var(--col-text);
        &:hover {
          color: var(--col-black) !important;
        }
      }
    }

    .content {
      height: 100%;
      padding: 0;
      background-color: var(--col-bg);
      .content-title {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background-color: var(--col-white);
        font-size: var(--fs-24);
        font-weight: var(--fw-bold);
        line-height: var(--line-h-28);
        color: var(--col-text);
        padding: var(--fs-24);
        text-transform: uppercase;
      }
      .content-body {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background-color: var(--col-white);
        overflow-y: auto;
      }
    }
  }

  .footer {
    width: 100%;
    padding: 0;
  }

  // login
  //sign in
  .singBox {
    background-color: var(--col-bg);
    width: 65.7rem;
    height: 50rem;
    border-radius: var(--brd-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 6rem;
    .sign-field {
      width: 45rem;
      height: 7.2rem;
      border-radius: var(--brd-radius);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      font-size: var(--fs-16);
      font-weight: var(--fw-bold);
      color: var(--col-text);
      padding: 0 2.5rem;
      &::placeholder {
        color: var(--col-text);
      }

      &::-ms-input-placeholder {
        color: var(--col-text);
      }
    }
    .sign-btn {
      width: 26.4rem;
      height: 7.2rem;
      border-radius: var(--brd-radius);
      background-color: var(--col-text);
      color: var(--col-white);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      font-size: var(--fs-16);
      font-weight: var(--fw-bold);
    }
  }
}

.center-col {
  display: flex;
  flex-direction: column;
}

.center-row {
  display: flex;
  flex-direction: row;
}

.eye {
  position: absolute;
  bottom: 50%;
  right: 5%;
  transform: translateY(50%);
}

// validation styles
.err-border {
  border: 1px solid var(--col-error) !important;
}
.err-msg {
  margin-top: var(--m-top-1);
  color: var(--col-error);
  padding: 0;
  font-size: 12px;
}

// helpers buttons
#search {
  border: 1px solid var(--col-text);
  border-radius: 1.2rem;
  padding: 1rem;
  font-weight: bold;
  font-size: var(--fs-12);
  color: var(--col-text);
  background-color: var(--col-bg);
  &::placeholder {
    color: var(--col-text) !important;
  }
}

.search-btn {
  width: fit-content;
  border: 1px solid var(--col-text);
  background-color: var(--col-success);
  border-radius: var(--brd-radius);
  padding: 1rem 2rem;
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
  color: var(--col-white);
  &:hover {
    background-color: #29c04a;
  }
}

.reset-btn {
  width: fit-content;
  border: 1px solid var(--col-text);
  background-color: var(--col-error);
  border-radius: var(--brd-radius);
  padding: 1rem 2rem;
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
  color: var(--col-white);
  &:hover {
    background-color: #f32424;
  }
}

.add-btn {
  width: fit-content;
  border: 1px solid var(--col-text);
  background-color: var(--col-bg);
  border-radius: var(--brd-radius);
  padding: 1rem 4rem;
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
  color: var(--col-text);
  &:hover {
    color: var(--col-gray);
  }
}

// modal
.modal {
  .add-admin-modal {
    background-color: var(--col-bg);
    border-radius: var(--brd-radius) !important;
    padding: 3rem 3rem;
    .admin-register {
      height: 6.4rem;
      border-radius: var(--brd-radius-sm);
      color: var(--col-text);
      font-weight: var(--fw-normal);
      font-size: var(--fs-24);
      line-height: var(--line-s-28);
      padding-left: 1rem;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      &::placeholder {
        color: var(--col-text);
        font-weight: var(--fw-normal);
        font-size: var(--fs-18);
        line-height: var(--line-h-28);
        padding-left: 0rem;
      }

      &::-ms-input-placeholder {
        color: var(--col-text);
        font-weight: var(--fw-bold);
        font-size: var(--fs-24);
        line-height: var(--line-h-28);
        padding-left: 2rem;
      }
    }
  }
}
.modal-add-btn {
  // width: 29.2rem;
  // height: 6.4rem;
  padding: 1.5rem 10rem;
  border-radius: var(--brd-radius-sm);
  background-color: var(--col-text);
  color: var(--col-white);
  font-weight: var(--fw-bold);
  font-size: var(--fs-24);
}

// table styles
.table-st-1 {
  padding: 0;
  margin: 2rem 0;
  border: 1px solid var(--col-text);
  border-radius: 12px !important;
  thead {
    tr th {
      background-color: var(--col-bg);
      font-size: var(--fs-16);
      font-weight: var(--fw-bold);
      padding: 1rem;
      text-align: start;
      color: var(--col-text);
    }
  }
  tbody {
    tr td {
      background-color: var(--col-tabel);
      font-size: var(--fs-12);
      font-weight: var(--fw-bold);
      padding: 1rem;
      color: var(--col-text);
      text-align: start;
      border: none;
      color: var(--col-text) !important;
      cursor: pointer;
    }
  }
}

// hover styles
.edit-btn {
  &:hover {
    stroke: rgb(0, 191, 255);
  }
}

.delete-btn {
  &:hover {
    stroke: rgb(255, 51, 51);
  }
}

.qr-btn {
  &:hover {
    stroke: gray;
  }
}

// user info
.user-info {
  .user-name {
    font-size: var(--fs-12);
    color: var(--col-text);
    font-weight: var(--fw-bold);
    margin-bottom: 0.5rem;
  }
}

.addBtn {
  color: var(--col-text);
  background-color: #3d9c528e;
  font-size: var(--fs-14) !important;
  width: 5rem;
  height: 6rem;
  border-radius: 1.2rem;
  color: #fff;
  margin: 2rem 0;
  &:hover {
    background-color: #3d9c52;
  }
}

.target-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 100%;
    color: var(--col-text);
    font-size: 1.6rem;
  }
  button {
    background-color: var(--col-error);
    border-radius: 1.2rem;
    width: 5rem;
    height: 2.5rem;
    color: #fff;
  }
}
